{% extends 'base.html'%}

{% block content%}
<div class="container"></div>
  <div class="row" style="margin: 20px">
    <div class="col-sm-3">
          <!-- Card -->
          <div class="card">

            <!-- Card image -->
            <div class="view overlay">
              <img class="card-img-top" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Card image cap">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
        
            <div class="card-body">
              <h4 class="card-title"></h4>
              <hr>
              <p class="card-text"></p>
              <a class="nav-item nav-link" href="{{url_for('main.blog_new')}}">Comment</a>
              <a href="#!" class="black-text d-flex justify-content-end"><h5>Read more <i class="fas fa-angle-double-right"></i></h5></a>
            </div>

            <!-- Card footer -->
            <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
              <ul class="list-unstyled list-inline font-small">
                <li class="list-inline-item pr-2 white-text"><i class="far fa-clock pr-1"></i>05/10/2015</li>
                <li class="list-inline-item pr-2"><a href="#" class="white-text"><i class="far fa-comments pr-1"></i>12</a></li>
                <li class="list-inline-item pr-2"><a href="#" class="white-text"><i class="fab fa-facebook-f pr-1"> </i>21</a></li>
                <li class="list-inline-item"><a href="#" class="white-text"><i class="fab fa-twitter pr-1"> </i>5</a></li>
              </ul>
            </div>

          </div>
          <!-- Card -->
    </div>
    <div class="col-sm-3">
       <!-- Card -->
<div class="card">

  <!-- Card image -->
  <div class="view overlay">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1561130464-dd70cb10e27f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Card image cap">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  
  {% for post in blogs %}
  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title"></h4>
    <hr>
    <!-- Text -->
    <p class="card-text"></p>
    <a class="nav-item nav-link" href="{{url_for('main.blog_new')}}">Comment</a>
    <a href="htt" class="black-text d-flex justify-content-end"><h5> <i class="fas fa-angle-double-right"></i></h5></a>
  </div>

  <!-- Card footer -->
  <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
    <ul class="list-unstyled list-inline font-small">
      <a class="nav-item nav-link" href="{{url_for('main.blog_new')}}">New Post</a>
      <li class="list-inline-item pr-2 white-text"><i class="far fa-clock pr-1"></i> Title:{{post.title}}</li>
      <li class="list-inline-item pr-2"><a href="#" class="white-text"><i class="far fa-comments pr-1"></i> Content:{{post.detail}}</a></li>
      <li class="list-inline-item pr-2"><a href="#" class="white-text"><i class="fab fa-facebook-f pr-1"> </i></a></li>
      <li class="list-inline-item"><a href="#" class="white-text"><i class="fab fa-twitter pr-1"> </i></a></li>
    </ul>
  </div>

</div>

    </div>
    <div class="col-sm-3">
       
<div class="card">

  <!-- Card image -->
  <div class="view overlay">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1544098485-2a2ed6da40ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Card image cap">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
    {% endfor %}
  </div>

 
  {% for post in blogs %}
  <div class="card col-md-4 promoting-card" id='new'>
  
      
      <div class="card-body d-flex flex-row">
    
        
        <img src="static/photo/1.png" class="rounded-circle mr-3" height="50px" width="50px" alt="avatar">
    
        
        <div>
    
          
          <h4 class="user1"> User :{{post.author.username}}</h4>
          <h4 class="card-title font-weight-bold mb-2"> Title:{{post.title}}</h4>
          <h4 class="card-title font-weight-bold mb-2"><a href="https://www.medicalnewstoday.com/articles/324589.php"> Content:{{post.detail}}</a></h4>
        
          <h7> date.posted : {{post.date_posted}} </h7>
          <a href="" class="btn btn-sm-primary">Add Comment</a>
          <a href="#" class="btn btn-sm-success">👍19</a>
          <a href="#" class="btn btn-sm-danger">👎3</a>
    
        </div>
    
      </div>
    
      <div class="card-body">
    
        <div class="collapse-content">
    
        
          <p class="card-text collapse" id="collapseContent"> Description :{{post.detail}}</p>
          
          <a class="btn btn-flat red-text p-1 my-1 mr-0 mml-1 collapsed" data-toggle="collapse" href="#collapseContent" aria-expanded="false" aria-controls="collapseContent"></a>
          <i class="fas fa-share-alt text-muted float-right p-1 my-1" data-toggle="tooltip" data-placement="top" title="Share this post"></i>
          <i class="fas fa-heart text-muted float-right p-1 my-1 mr-3" data-toggle="tooltip" data-placement="top" title="I like it"></i>
    
        </div>
    
      </div>
    
    </div>
    {% endfor %}
  </div>
  </div>
<!-- 
  
  <div class="row" style="margin: 20px">

    Title
    <h4 class="card-title">Card title</h4>
    <hr>
     Text 
    <p class="card-text"></p>
    <a class="nav-item nav-link" href="{{url_for('main.blog_new')}}">Comment</a>
    <a href="#!" class="black-text d-flex justify-content-end"><h5>Read more <i class="fas fa-angle-double-right"></i></h5></a>
  </div>


  <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
    <ul class="list-unstyled list-inline font-small">
      <li class="list-inline-item pr-2 white-text"><i class="far fa-clock pr-1"></i>05/10/2015</li>
      <li class="list-inline-item pr-2"><a href="#" class="white-text"><i class="far fa-comments pr-1"></i>12</a></li>
      <li class="list-inline-item pr-2"><a href="#" class="white-text"><i class="fab fa-facebook-f pr-1"> </i>21</a></li>
      <li class="list-inline-item"><a href="#" class="white-text"><i class="fab fa-twitter pr-1"> </i>5</a></li>
    </ul>
  </div>

</div>  -->
<!-- Card -->
    </div>
  </div>
  <div class="row" style="margin: 20px">
    <div class="col-sm-3">
       <!-- Card -->
<div class="card">

  <!-- Card image -->
  <div class="view overlay">
    <img class="card-img-top" src="" alt="Card image cap">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title"></h4>
    <hr>
    <!-- Text -->
    <p class="card-text"></p>
    <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
        <a class="nav-item nav-link" href="{{url_for('main.blog_new')}}">Comment</a>
        {% else %}
        <li><a href="{{url_for('auth.login')}}">Sign in</a></li>
        <li><a href="{{url_for('auth.login')}}">Subscribe</a></li>
      
        {%endif%}
   
    <a href="#!" class="black-text d-flex justify-content-end"><h5>Read more <i class="fas fa-angle-double-right"></i></h5></a>
  </div>

  <!-- Card footer -->
  <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
    <ul class="list-unstyled list-inline font-small">
      <li class="list-inline-item pr-2 white-text"><i class="far fa-clock pr-1"></i>date</li>
      <li class="list-inline-item pr-2"><a href="#" class="white-text"><i class="far fa-comments pr-1"></i>12</a></li>
      <li class="list-inline-item pr-2"><a href="#" class="white-text"><i class="fab fa-facebook-f pr-1"> </i>21</a></li>
      <li class="list-inline-item"><a href="#" class="white-text"><i class="fab fa-twitter pr-1"> </i>5</a></li>
    </ul>
  </div>

</div>
<!-- Card -->
    </div>
   
    <div class="col-sm-3">
       <!-- Card -->
<div class="card">

  <!-- Card image -->
  <div class="view overlay">
    <img class="card-img-top" src="" alt="Card image cap">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <div class="card-body">

  
    <h4 class="card-title"></h4>
    <hr>
    <!-- Text -->
    <p class="card-text">.</p>
    <a href="#!" class="black-text d-flex justify-content-end"><h5>Read more <i class="fas fa-angle-double-right"></i></h5></a>
  </div>

  <!-- Card footer -->
  <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
    <ul class="list-unstyled list-inline font-small">
      <li class="list-inline-item pr-2 white-text"><i class="far fa-clock pr-1"></i>05/10/2015</li>
      <li class="list-inline-item pr-2"><a href="#" class="white-text"><i class="far fa-comments pr-1"></i>12</a></li>
      <li class="list-inline-item pr-2"><a href="#" class="white-text"><i class="fab fa-facebook-f pr-1"> </i>21</a></li>
      <li class="list-inline-item"><a href="#" class="white-text"><i class="fab fa-twitter pr-1"> </i>5</a></li>
    </ul>
  </div>

</div>
<!-- Card -->
    </div>
  </div>
  <div>


{% endblock%}