{% extends 'base.html'%}

{% block content%}
<!-- Footer -->


<footer class="footer-distributed">

        <div class="footer-right">
                <!--Facebook-->
                <a href = "https://www.facebook.com" class="btn-floating btn-lg btn-fb" type="button" role="button"><i class="fab fa-facebook-f"></i></a>
                    <!--Instagram-->
                <a  href = "https://www.instagram.com/accounts/login/?hl=en"class="btn-floating btn-lg btn-ins" type="button" role="button"><i class="fab fa-instagram"></i></a>
                <!--Pinterest-->
                <a  href = "https://www.pinterest.com/"class="btn-floating btn-lg btn-pin" type="button" role="button"><i class="fab fa-pinterest"></i></a>
                <!--Github-->
                <a  href = "https://github.com/WILLGENIUS15"class="btn-floating btn-lg btn-git" type="button" role="button"><i class="fab fa-github"></i></a>
        </div> 

        <div class="footer-left">
            <p class="footer-links">
                <a class="link-1" href="#">Home</a>
                <a href="#">photographers</a>
                <a href="#">Sign up</a>
                <a href="#">Contact</a>
            </p>
            <p>photo-op&copy; 2019</p>
        </div>

</footer>
<!-- Footer -->




{% endblock%}