{% extends 'base.html' %}

{% block content %}

    <div>
        <!--Carousel Wrapper-->
        <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel" >
            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-2" data-slide-to="1"></li>
                <li data-target="#carousel-example-2" data-slide-to="2"></li>
            </ol>
            <!--/.Indicators-->
            <!--Slides-->
            <div class="carousel-inner"  role="listbox">
                <div class="carousel-item active">
                <div class="view">
                    <img class="d-block w-100" style="height: 650px" src="https://images.unsplash.com/photo-1527367856907-87b280b6d8c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2156&q=80"
                    alt="First slide">
                    <div class="mask rgba-black-light"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive animated swing" style="margin-bottom: 340px; font-size: 50px; font-family: 'Saira Stencil One', cursive;">Welcome To Photo-op</h3>
                </div>
                </div>
                <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-100" style="height: 650px" src="https://images.unsplash.com/photo-1470125634816-ede3f51bbb42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2064&q=80"
                    alt="Second slide">
                    <div class="mask rgba-black-light"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive" style="margin-bottom: 340px;  font-size: 50px; font-family: 'Saira Stencil One', cursive;">Welcome To Photo-op</h3>
                </div>
                </div>
                <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-100" style="height: 650px" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg"
                    alt="Third slide">
                    <div class="mask rgba-black-light"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive" style="margin-bottom: 340px;  font-size: 50px; font-family: 'Saira Stencil One', cursive;">Welcome To Photo-op</h3>
                </div>
                </div>
            </div>
            <!--/.Slides-->
            <!--Controls-->
            <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <!--/.Controls-->
            </div>
            <!--/.Carousel Wrapper-->
            
            <div class="jumbotron" style="text-align: center">
                <h1 class="animated fadeInUpBig font-weight-bold my-5">WHAT WE DO</h1>
                <p style="font-size: 20px"><strong>We are a platform that works with various professional photographers providing them with a platform where they can share their work without the fear of their work being pirated</strong></p>
                <p style="font-size: 20px"><strong>We work directly with each photographer individually so as to offer them and you the highest quality of service</strong></p>
            </div>

            <div class="container-fluid" style="margin: none">
            <div class="row">
                <figure class="col-md-4">
                    <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(117).jpg" data-size="1600x1067">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(117).jpg" class="img-fluid">
                    </a>
                </figure>
                <figure class="col-md-4">
                    <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(98).jpg" data-size="1600x1067">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(98).jpg" class="img-fluid" />
                    </a>
                </figure>
                <figure class="col-md-4">
                    <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(131).jpg" data-size="1600x1067">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(131).jpg" class="img-fluid" />
                    </a>
                </figure>
                <figure class="col-md-4">
                    <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(123).jpg" data-size="1600x1067">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(123).jpg" class="img-fluid" />
                    </a>
                </figure>
                <figure class="col-md-4">
                    <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(118).jpg" data-size="1600x1067">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(118).jpg" class="img-fluid" />
                    </a>
                </figure>
                <figure class="col-md-4">
                    <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(128).jpg" data-size="1600x1067">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(128).jpg" class="img-fluid" />
                    </a>
                </figure>
                <figure class="col-md-4">
                    <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(132).jpg" data-size="1600x1067">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(132).jpg" class="img-fluid" />
                    </a>
                </figure>
                <figure class="col-md-4">
                    <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(115).jpg" data-size="1600x1067">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(115).jpg" class="img-fluid" />
                    </a>
                </figure>
                <figure class="col-md-4">
                    <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(133).jpg" data-size="1600x1067">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(133).jpg" class="img-fluid" />
                    </a>
                </figure>
                </div>
        
            <div class="jumbotron" style="text-align: center">
                <!-- Section: Features v.1 -->
                <section class="text-center my-5">

                    <!-- Section heading -->
                    <h2 class="h1-responsive font-weight-bold my-5">How it works</h2>
                    <!-- Section description -->
                    <p class="lead grey-text w-responsive mx-auto mb-5"></p>
                    
                    <!-- Grid row -->
                    <div class="row">
                    
                        <!-- Grid column -->
                        <div class="col-md-4">
                    
                        <i class="fas fa-chart-area fa-3x red-text"></i>
                        <h5 class="font-weight-bold my-4">Photographers</h5>
                        <p class="grey-text mb-md-0 mb-5" style="font-size: 20px">We offer our Artist's top notch services which include 24Hrs Tech support, secure and private systems so as to protect their privacy and personal information.
                            we also offer Law services so as to protect our clients from piracy of their intellectual property.
                        </p>
                    
                        </div>
                        <!-- Grid column -->
                    
                        <!-- Grid column -->
                        <div class="col-md-4">
                    
                        <i class="fas fa-book fa-3x cyan-text"></i>
                        <h5 class="font-weight-bold my-4">Users</h5>
                        <p class="grey-text mb-md-0 mb-5" style="font-size: 20px">To our users we also provide 24Hrs Tech support and the best security available so as to protect your data and your privacy.
                        </p>
                    
                        </div>
                        <!-- Grid column -->
                    
                        <!-- Grid column -->
                        <div class="col-md-4">
                    
                        <i class="far fa-comments fa-3x orange-text"></i>
                        <h5 class="font-weight-bold my-4">Support</h5>
                        <p class="grey-text mb-0" style="font-size: 20px">Our tech support team is always available from our call center to our social media accounts. We are always here for you
                        </p>
                    
                        </div>
                        <!-- Grid column -->
                    
                    </div>
                    <!-- Grid row -->
                    
                    </section>
                    <!-- Section: Features v.1 -->
            </div>
            </div>
            </div>

                



{% endblock %}
