<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark blue-gradient">

<!-- Navbar brand -->
<a class="navbar-brand animated pulse infinite" style="font-weight:bolder" href="#">Photo-op</a>

<!-- Collapse button -->
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<!-- Collapsible content -->
<div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" style="font-weight:bolder" href="/">Home
        <span class="sr-only">(current)</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="font-weight:bolder" href="{{url_for('main.Cameraman')}}">Photographers</a>
    </li>
    

    
    </ul>
    <!-- Links -->
    <div>
        <ul class="nav navbar-nav navbar-right" >
            {% if current_user.is_authenticated %}

            <a class="navbar-brand nav-link" href="#" style="color:white; font-weight:bolder; ">Photographers</a></<a>
            <a class="navbar-brand nav-link" href="#" style="color:white; font-weight:bolder; ">Profile</a></<a>
            <a class="navbar-brand nav-link" href="#" style="color:white; font-weight:bolder;">Logout</a></<a>
            {% else %}
            <a class="navbar-brand nav-link" href="{{url_for('auth.login')}}" style="color:white; font-weight:bolder;">Log in</a></<a>
            <a class="navbar-brand nav-link" href="{{url_for('auth.signup')}}" style="color:white; font-weight:bolder;">Sign Up</a></<a>
            {%endif%}
        </ul>
    </div>
    
</div>
<!-- Collapsible content -->

</nav>
<!--/.Navbar-->
